# Dependencias
node_modules/

# Builds de Electron (electron-builder)
dist/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
